.git
.gitignore
.env
.env.*
!.env.example
node_modules/
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/.gitkeep
!storage/logs/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
public/hot
public/storage
docker-compose.override.yml
*.md
*.log
tests/
.phpunit.cache/
phpunit.xml
.github/
.vscode/
.idea/
